
${name}
Agency ID: $id

The ${name} agency has won ${awardCount} awards.

#if($locations.size() != 0)

The agency ${name} operates in the following locations:
  #foreach($l in $locations)
  ${l.town}, ${l.country} (${l.region})
  #end
#end

#if($campaigns.size() != 0)
${name} has been involved in the following campaigns:

  #foreach($c in $campaigns)
  $!{c.festival.name}, ${c.year} - ${c.title}
  #end

  The agency has been involved with the following people
  #foreach($c in $campaigns)
    #if($c.credits.people.size() != 0)
      #foreach($p in $c.credits.people)
        ${p.name}#if(${p.role}) - ${p.role}#end#if(${p.company}) (${p.company})#end
      #end
    #end
  #end
#end
