${name}
Brand ID: ${id}

The brand ${name} is in the ${sector.name} sector. It has been shortlisted ${shortlistCount} times and won ${awardCount} awards

#if($campaigns.size() != 0)
${name} has been involved in the following campaigns:

  #foreach($c in $campaigns)
  Campaign: $!{c.festival.name}, ${c.year} - ${c.title}
    #if($c.tags.size() != 0)
      Tags: ${c.tags}
    #end
    This campaign was run for ${c.company.name} of ${c.company.town}#if(${c.awardCount}) and won ${c.awardCount} awards#end.
    #if($awards.size() != 0)
    The campaign has the following number of awards:
    #foreach($a in $c.awards)
    ${a.levelLabel}: ${a.count}
    #end
    #end

    $!_.noCRLF($!{c.caseStudy.background})
    $!_.noCRLF($!{c.caseStudy.description})
    $!_.noCRLF($!{c.caseStudy.execution})
    $!_.noCRLF($!{c.caseStudy.idea})
    $!_.noCRLF($!{c.caseStudy.outcome})
    $!_.noCRLF($!{c.caseStudy.strategy})

    #if($c.credits.companies.size() != 0)
      The following companies are credited:
      #foreach($co in $credits.companies)
        ${co.name} - ${co.role} (${co.location})
      #end

    #end
    #if($c.credits.people.size() != 0)
      The following people are credited:
      #foreach($p in $c.credits.people)
        ${p.name}#if(${p.role}) - ${p.role}#end#if(${p.company}) (${p.company})#end
      #end

    #end
  #end

#end
