${title} - ${year}
Campaign ID: $id
#if($tags.size() != 0)
  Tags: ${tags}
#end

This campaign was run by ${company.name} of ${company.town}#if(${brand.name}) for ${brand.name}#end#if(${awardCount}) and won ${awardCount} awards#end.
#if($awards.size() != 0)
The campaign has the following number of awards:
#foreach($a in $awards)
${a.levelLabel}: ${a.count}
#end
#end

$!_.noCRLF($!{caseStudy.background})
$!_.noCRLF($!{caseStudy.description})
$!_.noCRLF($!{caseStudy.execution})
$!_.noCRLF($!{caseStudy.idea})
$!_.noCRLF($!{caseStudy.outcome})
$!_.noCRLF($!{caseStudy.strategy})

#if($credits.companies.size() != 0)
  The following companies are credited:
  #foreach($co in $credits.companies)
    ${co.name} - ${co.role} (${co.location})
  #end

#end
#if($credits.people.size() != 0)
  The following people are credited:
  #foreach($p in $credits.people)
    ${p.name}#if(${p.role}) - ${p.role}#end#if(${p.company}) (${p.company})#end
  #end

#end

#if($assets.size() != 0)
The following campaign assets exist:
  #foreach($a in $assets)
    ${a.label} ($a.type): ${a.fullUrl}
  #end

#end

// TODO AWARDS

