${fullname}#if($jobtitle) - $jobtitle#end#if($role) ($role)#end
Individual ID: ${id}
#if($imageUrl)Image Url: ${imageUrl}#end

#if($company)${fullname} works for ${company} #if($city)in ${city}, #end${country}.#end
#if($region)${fullname} works in the ${region} region.#end

#if($experience)Experience: ${experience}#end

#if($interests.size()!=0)Interests:
#foreach($i in $interests)
  ${i}
#end
#end

#if($skills && $skills.size()!=0)Skills:
#foreach($s in $skills)
  ${s}
#end
#end

#if($awards.size() != 0)
${fullname} has the following number of awards:
#foreach($a in $awards)
${a.levelLabel}: ${a.count}
#end
#end
