${title}
Inspiration ID: ${id}
ImageUrl: ${imageUrl}

${introduction}

#if($inspirationResources.size() != 0)
The following resources where used:
  #foreach($ir in $inspirationResources)
  ${ir.title}
  ${ir.introduction}

  #end
#end
