${title} - ${year}
Talk ID: ${id}

This talk was on ${stage} from ${startsAt} to ${endsAt}. The host was ${host.name}.

${description}

#if($speakers.size() != 0)
The following speakers were involved:
  #foreach($s in $speakers)
  ${s.name} #if($s.title) - ${s.title}#end
  #if($s.biography) - $!_.noCRLF(${s.biography})#end


  #end
#end
